<h3>Task 1: Prediction using Supervised ML</h3>
<p>

<a href="http://bit.ly/w-data">Link to Data</a>

1. Predict <ins>score of student (In Percentage)</ins>, based on <ins>number of study hours</ins>

2. Predict score if student studies for 9.25 Hours each day

</p>

<h6>
Task Submission:

1. Host on Public Git Repo
2. Record Code in video, post on youtube
3. Share link of code & video, on LinkedIn Profile
4. Submit LinkedIn link in task submission form

</h6>

In [1]:
# Import Libraries
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Import Data
studentData = pd.read_csv("TSF_Data1.csv")
studentData.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [8]:
# Check for any null values
studentData.info()

# Find summary statistics
studentData.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000